#setting.py for security
settings.py

#Pipfile
Pipfile

#asset static files
assets/

#migrations files
migrations/

# static files
static/

# cpython-38.pyc files
*.cpython-38.pyc
settings.cpython-38.pyc
__pycache__/