{% extends "account_custom/myPage.html" %}
{% load static %}

{% block cart %}
<div class="cart-section my-2 px-2 ">
    <h1>Cart </h1>
    <div class="container d-flex flex-column justify-content-center py-3">
    {% if item_list %}
        {%for item in item_list %}
            <div class="item row py-2 border-bottom align-items-center">
                <div class="col-md-3 col-12">
                    <img class="w-100" src="{{STATIC_PREFIX}}{{item.image}}" alt="item.description">
                </div>
                <div class="col-md-9">
                    <button type="button" class="remove_item btn-close float-end" id="remove_item-{{forloop.counter}}" data-item="{{item.item.id}}" aria-label="Close"></button>
                    <p>{{item.item}} </p>
                    <p>${{item.item.sell_price}}</p>
                    quantity : <input class="text-secondary" value="{{item.quantity}}" type="number" min="1"></input>
                </div>
            </div>
        {% empty %}
            <p>It's empty</p>
        {% endfor %}
    {% else %}
        <p> There are no item in the cart!</p>
    {% endif %}
    </div>
</div>
{% endblock %}