{% if item_list %}
            {% if user.is_authenticated %}
                {% csrf_token %}
            {% endif %}

            {% for item in item_list %}
            <div class="itembox col my-2 p-3">
                <a href="{% url 'ItemDetailPage' item.id %}" style="text-decoration-line: none;">
                    <div class="card border-light">
                        <div class="card-body text-black">
                            <img class="w-100" src="{{ STATIC_PREFIX }}{{ item.main_image }}" alt="need to update alt">
                        </div>
                        <div class="card-footer bg-transparent text-black">
                            <div class="item_name">
                                Item name : {{item.name}}
                            </div>
                            <div class="item_price">
                                Item sell_price : {{item.sell_price}}
                            </div>
                            <div class="item_model">
                                Item code : {{item.code}}
                                <br/>
                                Item model : {{item.model}}
                            </div>
                            <div class="review">
                                <div class="review col">                                    
                                    Review : <span class="review-star align-text-bottom" data-star="{{item.avg}}">
                                    </span>
                                    {% if item.counts is empty %}
                                    (0)
                                    {% else %}
                                    ( {{item.counts}} )
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="row p-2">
                    <button class="col-md-5 col-sm-6 col-12 mx-0 mx-sm-2 my-1 my-sm-0 p-1 addCart btn btn-outline-dark flex-shrink-0"
                        type="button" id="addCart"
                        data-item="{{item.id}}"
                    >
                        <i class="bi-cart-fill me-1"></i>
                        Add Cart
                    </button>
                    {% if user.is_authenticated %}
                    <button class="col-md-3 col-sm-2 mx-0 mx-sm-2 my-1 my-sm-0 col-12 addWish btn btn-outline-danger"
                    type="button"
                    id="addWish-{{item.id}}"
                    data-item="{{item.id}}"
                    >                        
                        {% if item.wished_item %}
                            <i id="wish-heart-{{item.id}}" class="bi bi-heart-fill"></i>
                        {% else %}
                            <i id="wish-heart-{{item.id}}" class="bi bi-heart"></i>
                        {% endif %}
                    {% else %}
                    <a  class="col-md-3 col-sm-5 mx-0 mx-sm-2 my-1 my-sm-0 col-12 wish-button btn btn-outline-danger"
                        href="{% url 'account_login' %}"><i id="wish-heart-{{item.id}}" class="bi bi-heart"></i>
                    </a>
                    {% endif %}
                    </button>
                </div>
            </div>
            {% endfor %}   
    {% else %}
        <p> There are no item in the item list</p>
    {% endif %}