{% extends "shop/base.html" %}

{% load static %}
<script src="{% static 'javascript/filter.js' %}"></script>

{% block carousel %}

<!-- Carousel -->
<div id="mainBanner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for image in images %}
        <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="{{ forloop.counter0}}}"
            class="{% if forloop.first%}active{% endif %}" {% if forloop.first %} aria-current="true" {% endif %}
            aria-label="Slide {{ forloop.counter}}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for image in images %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <img src="{{image.image.url}}" alt="{{image.alt}}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainBanner"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainBanner"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}

{% block itemList %}
<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row justify-content-center flex-fill mx-auto">
        <button class="trend btn btn-light m-1">
            #실시간 예약상품
        </button>
        <button class="trend btn btn-light m-1">
            #인기 프라모델 상품
        </button>
        <button class="trend btn btn-light m-1">
            #인기 피규어
        </button>
        <button class="trend btn btn-light m-1">
            #인기 토이
        </button>
    </div>

    <!-- filtering & item list-->
    <div class="item-container row row-cols-2 w-100">
        <div class="category col-lg-2 col-md-12 col-12 mr-auto">
            <!-- Category -->
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            Category
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body p-0">
                            <ul class="list-group">
                                {% for c in category %}
                                <li class="list-group-item">
                                    <input class="form-check-input" id="filtering" type="checkbox" data-filter="category"
                                        value="{{c.name}}" aria-label="..."/>
                                    {{ c.name }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- SubCategory -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Subcategory
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body p-0">
                            <ul class="list-group">
                                {% for sub in subcategory %}
                                <li class="list-group-item">
                                    <input class="form-check-input" id="filtering" type="checkbox" data-filter="subcategory"
                                        value="{{sub.name}}" aria-label="..."/>
                                    {{ sub.name }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Brand -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Brand
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body p-0">
                            <ul class="list-group">
                                {% for b in brand %}
                                <li class="list-group-item">
                                    <input class="form-check-input" id="filtering" type="checkbox" data-filter="brand"
                                        value="{{b.name}}" aria-label="..."/>
                                    {{ b.name }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end filtering-->
        <!-- item list  -->
        {% if item_list %}
            {% if user.is_authenticated %}
                {% csrf_token %}
            {% endif %}
        <div class="itemlist row row-cols-1 row-cols-md-2 row-cols-lg-3 col-12 col-lg-10 col-md-12 mx-auto my-5 p-2">
            {% for item in item_list %}
            <div class="itembox col my-2 p-3">
                <a href="{% url 'ItemDetailPage' item.id %}" style="text-decoration-line: none;">
                    <div class="card border-light">
                        <div class="card-body text-black">
                            <h5 class="card-title">Picture of product</h5>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer bg-transparent text-black">
                            <div class="item_name">
                                Item name : {{item.name}}
                            </div>
                            <div class="item_price">
                                Item sell_price : {{item.sell_price}}
                            </div>
                            <div class="item_model">
                                Item code : {{item.code}}
                                <br/>
                                Item model : {{item.model}}
                            </div>
                            <div class="review">
                                <div class="review col">                                    
                                    Review : <span class="review-star align-text-bottom" data-star="{{item.avg}}">
                                    </span>
                                    {% if item.counts is empty %}
                                    (0)
                                    {% else %}
                                    ( {{item.counts}} )
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <button class="col-sm-7 mx-0 mx-sm-2 my-1 my-sm-0 col-12 p-1 addCart btn btn-outline-dark flex-shrink-0"
                                    type="button" id="addCart"
                                    value="{{details.id}}"
                                    data-item="{{details.id}}"
                                >
                                    <i class="bi-cart-fill me-1"></i>
                                    Add Cart
                                </button>
                                {% if user.is_authenticated %}
                                <button class="col-sm-2 mx-0 mx-sm-2 my-1 my-sm-0 col-12 addWish btn btn-outline-danger"
                                type="button"
                                id="addWish-{{item.id}}"
                                data-item="{{item.id}}"
                                >                        
                                    {% if item.wished_item %}
                                        <i id="wish-heart-{{item.id}}" class="bi bi-heart-fill"></i>
                                    {% else %}
                                        <i id="wish-heart-{{item.id}}" class="bi bi-heart"></i>
                                    {% endif %}
                                {% else %}
                                <a  class="col-sm-5 mx-0 mx-sm-2 my-1 my-sm-0 col-12 wish-button btn btn-outline-danger"
                                    href="{% url 'account_login' %}"><i id="wish-heart-{{item.id}}" class="bi bi-heart"></i>
                                </a>
                                {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>    
    </div>
    {% else %}
        <p> There are no item in the item list</p>
    {% endif %}
</div>
<!-- end item list  -->
{% endblock %}