{% extends "shop/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block login %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>with social account</p>
<!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        <a href="{% provider_login_url 'kakao' method='oauth2' %}">
            <img src="{{STATIC_URL}}/images/login/kakao_login_medium_narrow.png">
        </a>
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}


<h3>login page.</h3>
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="login"/>
</form>


{% endblock %}
